# CSI 4142 Assignment 3: Dataset 1: Housing Prices

## Group Info:
**Group #:** 120

**<u>Group Members</u>**<br>
Aydin Yalcinkaya 300238613<br>
Mustafa Ahmed 300242013<br>

# Imports and Installations
Before getting started we must perform a few installations and library imports.

Run the following installations:

In [188]:
#imports
import pandas as pd
import os.path
from datetime import datetime
import re
import numpy as np
from IPython.display import display
from rapidfuzz import fuzz
from rapidfuzz import process

## Report Description

The purpose of this report is to practice a predictive analysis study. The primary methodology is using Lineaer Regression.

## Housing Prices Regression Dataset
Author: Den Kuznetz

Link to the dataset: https://www.kaggle.com/datasets/denkuznetz/housing-prices-regression

Dataset use-case: dataset prepared for creating a predictive model.

### How to download:
Run the following command in the same directory as the notebook:

In [189]:
! rm housing-prices-regression.zip real_estate_dataset.csv
! curl -L -o housing-prices-regression.zip\
  https://www.kaggle.com/api/v1/datasets/download/denkuznetz/housing-prices-regression\
    && unzip housing-prices-regression.zip
! rm housing-prices-regression.zip

rm: housing-prices-regression.zip: No such file or directory
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100 24182  100 24182    0     0  66468      0 --:--:-- --:--:-- --:--:-- 66468
Archive:  housing-prices-regression.zip
  inflating: real_estate_dataset.csv

### Initial data output command:

In [190]:
if not os.path.exists('real_estate_dataset.csv'):
    raise Exception('Please download and extract the dataset with the command above.')
house_df = pd.read_csv('real_estate_dataset.csv')
print(house_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  500 non-null    int64
 1   Square_Feet         500 non-null    float64
 2   Num_Bedrooms        500 non-null    int64
 3   Num_Bathrooms       500 non-null    int64
 4   Num_Floors          500 non-null    int64
 5   Year_Built          500 non-null    int64
 6   Has_Garden          500 non-null    int64
 7   Has_Pool            500 non-null    int64
 8   Garage_Size         500 non-null    int64
 9   Location_Score      500 non-null    float64
 10  Distance_to_Center  500 non-null    float64
 11  Price               500 non-null    float64
dtypes: float64(4), int64(8)
memory usage: 47.0 KB
None

In [193]:
house_df.head()

,ID,Square_Feet,Num_Bedrooms,Num_Bathrooms,Num_Floors,Year_Built,Has_Garden,Has_Pool,Garage_Size,Location_Score,Distance_to_Center,Price
0,1,143.635030,1,3,3,1967,True,True,48,8.297631,5.935734,602134.816747
1,2,287.678577,1,2,1,1949,False,True,37,6.061466,10.827392,591425.135386
2,3,232.998485,1,3,2,1923,True,False,14,2.911442,6.904599,464478.696880
3,4,199.664621,5,2,2,1918,False,False,17,2.070949,8.284019,583105.655996
4,5,89.004660,4,3,3,1999,True,False,34,1.523278,14.648277,619879.142523

# 1) Data Cleaning:
For our data cleaning we will perform the following cleaning checks followed by the relevant imputation/cleaning methods:

- Consistency
- Range
- Uniqueness
- Presence
- Exact Duplicates
- Near Duplicates

Due to the nature of this dataset being primarily numerical data and very minimal categorical data We will skip over the following cleaning steps as they pertain to more to categorical data: 

- Format
- Length
- Look-up

We will skip over Data Type check and cleaning as well since all the columns are strictly enforced as either int64 or float64 type which cannot be mixed up with any other data type:

- Data Type

## Consistency Check

We will check the following consistencies: 

- Garage_Size < Square_Feet
    - Pre-requisite step: convert Garage_Size from sqm to sqft

In [194]:
# Step 1: Convert Garage_Size from sqm to sqft
house_df["Garage_Size"] = house_df["Garage_Size"] * 10.7639

In [195]:
# Step 2: Consistency check: Garage_Size in sqft should be less than Square_Feet
invalid_garages = house_df[house_df["Garage_Size"] >= house_df["Square_Feet"]]

# Step 3: Display the rows that violate the condition
invalid_garages

,ID,Square_Feet,Num_Bedrooms,Num_Bathrooms,Num_Floors,Year_Built,Has_Garden,Has_Pool,Garage_Size,Location_Score,Distance_to_Center,Price
0,1,143.635030,1,3,3,1967,True,True,516.6672,8.297631,5.935734,602134.816747
1,2,287.678577,1,2,1,1949,False,True,398.2643,6.061466,10.827392,591425.135386
4,5,89.004660,4,3,3,1999,True,False,365.9726,1.523278,14.648277,619879.142523
5,6,88.998630,5,3,2,1959,True,True,387.5004,8.994552,17.633250,670386.804433
6,7,64.520903,4,3,1,1938,False,True,344.4448,7.101354,2.429908,523827.125601
...,...,...,...,...,...,...,...,...,...,...,...,...
494,495,165.924601,4,3,1,1935,True,True,236.8058,4.893764,15.889616,622815.455423
495,496,138.338057,2,2,2,1967,True,False,172.2224,4.296086,5.562583,488496.350722
496,497,195.914028,2,3,1,1977,False,True,484.3755,7.406261,2.845105,657736.921717
497,498,69.433659,1,1,2,2004,False,False,193.7502,8.629724,6.263264,405324.950201
498,499,293.598702,5,1,3,1940,True,False,441.3199,5.318891,16.990684,773035.968028

### Inconsistencies found:
409 rows were found to have a larger garage than home. This seemed like a clear mixup as this makes up for approximately 82% of the dataset. Rows where the garage size is greater than the square feet of the home, these values will be swapped.

In [196]:
# Identify where Garage_Size is greater than Square_Feet
swap_condition = house_df["Garage_Size"] > house_df["Square_Feet"]

# Perform the swap PROPERLY
house_df.loc[swap_condition, ["Square_Feet", "Garage_Size"]] = (house_df.loc[swap_condition, ["Garage_Size", "Square_Feet"]].values)

Verify the swap was completed correctly. There should be no rows such that Square_Feet < Garage_Size.

Perform a check:

In [197]:
# Identify where Garage_Size is greater than Square_Feet
swap_condition =  house_df["Square_Feet"] < house_df["Garage_Size"]

# Display rows where the condition is True (Square_Feet < Garage_Size)
inconsistent_rows = house_df[swap_condition]

# Print the problematic rows
num_inconsistent = len(inconsistent_rows)

print(f"There are {num_inconsistent} rows such that Square_Feet < Garage_Size")
print("View some samples:")
inconsistent_rows

There are 0 rows such that Square_Feet < Garage_Size
View some samples:

Empty DataFrame
Columns: [ID, Square_Feet, Num_Bedrooms, Num_Bathrooms, Num_Floors, Year_Built, Has_Garden, Has_Pool, Garage_Size, Location_Score, Distance_to_Center, Price]
Index: []

## Range:

Given that majority of the values are int64 or float64, a range check is valuable.

### Perform the range check:

In [198]:
#Range Filters
min_sqft = 46.0
min_bed = 1
min_bath = 1
min_floors = 1
year_built_range = range(1600, 2025)
min_garage_size = 16.7225
location_score_range = (0,10)
min_dist_ctr = 0
min_price = 0

# Create a mask for valid rows
valid_mask = (
    (house_df["Square_Feet"] >= min_sqft) &
    (house_df["Num_Bedrooms"] >= min_bed) &
    (house_df["Num_Bathrooms"] >= min_bath) &
    (house_df["Num_Floors"] >= min_floors) &
    (house_df["Year_Built"].isin(year_built_range)) &
    (house_df["Garage_Size"] >= min_garage_size) &
    (house_df["Location_Score"].between(*location_score_range)) &
    (house_df["Distance_to_Center"] >= min_dist_ctr) &
    (house_df["Price"] >= min_price)
)

# Get the problematic rows
problematic_rows = house_df[~valid_mask]  # Invert mask to get failing rows

# Display the problematic rows (There should be none)
problematic_rows.head()

Empty DataFrame
Columns: [ID, Square_Feet, Num_Bedrooms, Num_Bathrooms, Num_Floors, Year_Built, Has_Garden, Has_Pool, Garage_Size, Location_Score, Distance_to_Center, Price]
Index: []

In [199]:
num_invalid_rows_range = len(problematic_rows["Garage_Size"])
invalid_garage_vals = problematic_rows["Garage_Size"].unique()

print(f"There are {num_invalid_rows_range} rows with invalid ranges")
print(f"Invalid garage values: {invalid_garage_vals}")

There are 0 rows with invalid ranges
Invalid garage values: []

#### Invalid Garage Sizes

By logic and my research, the minimum garage size is 10x8 feet or 16.7725 Square feet. We will imputate the minumum garage size to such records

In [200]:
#Convert the Garage_Size column to a float64 type
house_df["Garage_Size"] = house_df["Garage_Size"].astype(float)

In [201]:
# Impute the invalid garage sizes with the minimum size
house_df["Garage_Size"] = house_df["Garage_Size"].apply(lambda x: max(x, 16.7225))

#### Successful Garage_Size Imputation
There should be no more range errors upon the Garage_Size imputation

## Uniqueness Check:
Only the ID Column needs to have unique values so we will verify that by ensuring the number of unique id values is the same as the length of the entire dataset. This is becsause there is a 1 to 1 relationship between the ID and each row.

In [202]:
len(house_df['ID'].unique()) == len(house_df)

True

## Presence Check:
We will check for null values in each column. Upon performing the check there are in fact none.

In [203]:
print(house_df.isna().sum())

ID                    0
Square_Feet           0
Num_Bedrooms          0
Num_Bathrooms         0
Num_Floors            0
Year_Built            0
Has_Garden            0
Has_Pool              0
Garage_Size           0
Location_Score        0
Distance_to_Center    0
Price                 0
dtype: int64

No Null values

## Duplicate Check

In [204]:
duplicates = house_df[house_df.duplicated()]

duplicates

Empty DataFrame
Columns: [ID, Square_Feet, Num_Bedrooms, Num_Bathrooms, Num_Floors, Year_Built, Has_Garden, Has_Pool, Garage_Size, Location_Score, Distance_to_Center, Price]
Index: []

No duplicates found

## Near Duplicate Check

In [205]:
house_df_rounded = house_df.copy()

# Round numerical columns to a specific number of decimal places
numeric_columns = ['Square_Feet', 'Num_Bedrooms', 'Num_Bathrooms', 'Num_Floors', 'Year_Built', 'Garage_Size', 'Location_Score', 'Distance_to_Center', 'Price']
house_df_rounded[numeric_columns] = house_df[numeric_columns].round(2)

# Now check for duplicates in the rounded dataset
near_duplicates = house_df_rounded[house_df_rounded.duplicated()]
near_duplicates

Empty DataFrame
Columns: [ID, Square_Feet, Num_Bedrooms, Num_Bathrooms, Num_Floors, Year_Built, Has_Garden, Has_Pool, Garage_Size, Location_Score, Distance_to_Center, Price]
Index: []

No near duplicates identified

# 2) There are no

In [206]:
print(house_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  500 non-null    int64
 1   Square_Feet         500 non-null    float64
 2   Num_Bedrooms        500 non-null    int64
 3   Num_Bathrooms       500 non-null    int64
 4   Num_Floors          500 non-null    int64
 5   Year_Built          500 non-null    int64
 6   Has_Garden          500 non-null    bool
 7   Has_Pool            500 non-null    bool
 8   Garage_Size         500 non-null    float64
 9   Location_Score      500 non-null    float64
 10  Distance_to_Center  500 non-null    float64
 11  Price               500 non-null    float64
dtypes: bool(2), float64(5), int64(5)
memory usage: 40.2 KB
None

# Sources:
Smallest Possible House Size: https://www.greatlakestinyhome.com/worlds-smallest-house/#:~:text=Keret%20House%2C%20Poland&text=It%20boasts%20a%20world%20record,story%20on%20the%20first%20floor.

Oldest built home: https://geojango.com/blogs/explore-your-world/oldest-homes-america?srsltid=AfmBOoq0J_96cQgna1C_MJVIoC61INx0zlf6BAcT8YgHT8LzfNNKZdNC

Minumum Garage Size: https://shedsunlimited.net/blog/how-large-is-a-one-car-garage/?srsltid=AfmBOoq7cjf-SXORwozvt1vRW4ow4GMjwQg8tTLz0ldzLrky1VLNK3zc